<header
    class="fixed top-4 left-1/2 -translate-x-1/2 z-50 w-300 max-w-5xl bg-white/70 border-gray-100/60 rounded-lg shadow-sm"
>
    <div class="flex items-center gap-10 px-8 py-3">
        <a href="/" class="text-gray-600 hover:text-black transition">
            Accueil
        </a>
        <a href="/offres" class="text-gray-600 hover:text-black transition">
            Offres
        </a>
        
    </div>
</header>
